<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<p>
  <b>Occupation:</b>
  <%= @artist.occupation %>
</p>

<p>
  <b>Birth date:</b>
  <%= @artist.birth_date %>
</p>

<p>
  <b>Label:</b>
  <%= @artist.label_id %>
</p>

<% if current_user %>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<% end %>
<%= link_to 'Back', artists_path %>
