<h1>You want it all</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Album</th>
    <th>Length</th>
    <th>Rating</th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= link_to song.name, song %></td>
    <td><%= link_to song.album.name, song.album %></td>
    <td><%= song.length %></td>
    <td><%= song.rating %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
