<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Rating:</b>
  <%= @song.rating %>
</p>

<p>
  <b>Length:</b>
  <%= @song.length %>
</p>

<p>
  <b>Lyrics:</b>
  <%= @song.lyrics %>
</p>

<p>
  <b>Album:</b>
  <%= Album.find(@song.album_id).name %>
</p>

<p>
  <b>Genre:</b>
  <%= Genre.find(@song.genre_id).name %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
