<h1>Listing meanings</h1>

<table>
  <tr>
    <th>Rating</th>
    <th>Content</th>
    <th>Song</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meanings.each do |meaning| %>
  <tr>
    <td><%= meaning.rating %></td>
    <td><%= meaning.content %></td>
    <td><%= meaning.song.name %></td>
    <td><%= meaning.user.name %></td>
    <td><%= link_to 'Show', meaning %></td>
    <td><%= link_to 'Edit', edit_meaning_path(meaning) %></td>
    <td><%= link_to 'Destroy', meaning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meaning', new_meaning_path %>
